/* responsive start */

@media (min-width: 320px) and (max-width: 575px){

/* --------navbar responsive start--------- */

/* title part start */

.title::after {
	left: 32.6%;
}

.title::before {
	left: 56%;
}

/* title part end */

.main_menu{
    padding: 30px 0;
}

.main_menu img{
    width: 140px;
}

.main_menu .navbar-toggler-icon i{
    color: #fff;
    font-size: 30px;
    padding-right: 30px;
}

.main_menu .navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-top: 30px;
	list-style: none;
	background: #000;
	text-align: center;
}
/* --------navbar responsive end--------- */

/* --------banner-part responsive start--------- */

#banner_part .overlay .text-area .text1 {
	color: #fff;
	font-size: 21px;
	font-weight: 400;
	font-family: 'Montserrat Alternates', sans-serif;
	/* margin-bottom: 4rem; */
}

#banner_part .overlay .text-area h1 {
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
	font-size: 5.2rem;
	color: #fff;
}

#banner_part .overlay .text-area h4 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	color: #fff;
	padding-top: 30px;
	position: relative;
}

#banner_part .overlay .text-area h4::before {
	right: 16%;
}

#banner_part .overlay .text-area h4::after {
	left: 15%;
}

#banner_part .prev {
	position: absolute;
	bottom: 100px;
	left: 29%;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid #656768;
	border-radius: 50%;
	font-size: 20px;
	color: #656768;
	text-align: center;
	line-height: 40px;
	z-index: 99;
	transition: all ease .4s;
}

#banner_part .next {
	position: absolute;
	bottom: 100px;
	right: 29%;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid #656768;
	border-radius: 50%;
	font-size: 20px;
	color: #656768;
	text-align: center;
	line-height: 40px;
	z-index: 99;
	transition: all ease .4s;
}

#gallery #gallery_part .gallery-item {
	position: relative;
	width: 100%;
	padding: 16px 15px;
}


/* --------banner-part responsive end--------- */

/* --------story-part responsive start--------- */
#story_part .img-part img {
	width: 87%;
	margin-left: 20px;
}

#story_part .story-smoke {
	position: absolute;
	top: -40%;
	left: -81px;
}

#story_part .img-part .img-overlay .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	position: relative;
}

#story_part .img-part .img-overlay {
	left: 16px;
}

#story_part .text-part h1 {
	font-size: 40px;
}

#story_part .text-part p {
	font-size: 1.6rem;
}


#story #story_part .story-venobox .img-part {
	width: 80px !important;
	height: 80px;
	margin-right: 20px;
    position: relative;
}

#story #story_part .story-venobox .img-part .img-overlay .icon {
	width: 40px !important;
	height: 40px !important;
	line-height: 45px !important;
}
#story #story_part .story-venobox .img-part .img-overlay {
	position: absolute;
	top: -5px;
	left: 18px;
}

#story #counter-up {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-top: -40px;
}

#story #counter-up .counter-item{
    margin-top: 20px;
    text-align: center;
}

#counter-up .value {
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
	font-size: 40px;
	color: #fff;
    text-align: center;
	display: inline-block;
}

#story #counter-up .left {
	margin-left: 40px;
}

#story #counter-up .rate {
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
	font-size: 40px;
	color: #fff;
	display: inline-block;
}

#story #counter-up p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: #fff;
}


/* --------story-part responsive end--------- */


/* --------happy hour-part responsive start--------- */


#happy_hour .counter-part .counter-items{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0 15px;
}


#happy_hour .counter-part .single-counter{
    background: url(../images/counter-bg.png)no-repeat center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 3rem;
    border: 1px solid #000;
    text-align: center;
    line-height: 114px;
    margin-right: 30px;
}

#happy_hour .counter-part .single-counter  h3{
    font-size: 2rem;
    margin-top: -10px;
}

#happy_hour .counter-part .single-counter p{
    font-size: 45px;
    margin-top: -10px;
}

#happy_hour .counter-part .text h3 {
    margin-top: -20px;
	margin-left: -43px;
}

#happy_hour .date-part {
	margin-left: 100px;
	margin-top: 80px;
}

#happy_hour .date-part .date-item {
	margin-left: -87px;
}

#happy_hour .holiday-bg img {
	width: 187%;
}

#happy_hour .holiday-bg {
	position: absolute;
	bottom: 12px;
	right: 224px;
	opacity: .2;
	z-index: -12;
}


/* --------happy hour-part responsive end--------- */

/* --------team-part responsive start--------- */

.team{
    margin-bottom: 30px;
}

#team_part .team-none{
    display: none;
}

#team_part .team-item .img{
    margin-left: 20px;
}

#team_part .slick-dots {
	left: 44%;
}

/* --------team-part responsive end--------- */


/* --------reservtion-part responsive start--------- */


#reservation_part .img img{
    width: 100%;
}

#reservation_part .input-button {
	width: 100%;
}


/* --------reservtion-part responsive end--------- */

/* --------testimonial-part responsive start--------- */

#testimonial_part .title h1 {
	font-size: 3rem;
}

#testimonial_part .title::before {
	top: 108px;;
}

#testimonial_part .title::after {
	top: 108px;;
}

#testimonial_part .testi-item {
	display: block;
	background: #0a0b0c;
}

#testimonial_part .left {
	display: none !important;
}

#testimonial_part .right {
	display: none !important;
}

#testimonial_part .testi-item .img{
   margin-left: 20px;
}

#testimonial_part .testi-item .text {
	margin-left: -20px  !important;
	padding-top: 20px;
}

#testimonial_part .testi-item .text p {
	width: 283px;
}

/* --------testimonial-part responsive end--------- */

/* --------footer-part responsive start--------- */

#footer_part .footer-item{
    margin-bottom: 40px;
}

#footer_part .footer-icon i {
	width: 55px;
	height: 55px;
	color: #ed5034;
	font-size: 20px;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	margin: 0 7px;
}

#footer_part .footer-bottom p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #fff;
}

/* --------footer-part responsive end--------- */

/* ---------contact-page css start-------------- */

#contact-page #banner_part .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,.6);
	padding: 156px 0 53px 0;
	z-index: 999;
}

#contact-page #banner_part .overlay .text-area h1{
    font-size: 24px !important;
    padding-top: 30px;
}

#banner_part .overlay .text-area p {
	font-size: 13px !important;
}

#contact-page .banner-four .we::after {
	left: 42%;
}

#contact-page .counter-up {
	width: 230px;
	flex-wrap: wrap;
	margin-top: 21px;
}

#contact-page .counter-up .counter-items{
    margin-top: 50px;
}


/* ---------contact-page css end-------------- */




    /* the end */
}

@media (min-width: 576px) and (max-width: 767px){

    /* --------navbar responsive start--------- */
    
    /* title part start */
    
    .title::after {
        left: 39.6%;
    }
    
    .title::before {
        left: 53%;
    }
    
    /* title part end */
    
    .main_menu{
        padding: 30px 0;
    }
    
    .main_menu img{
        width: 140px;
    }

    .main_menu ul li a {
        width: 100%;
    }

    
    .main_menu .navbar-toggler-icon i{
        color: #fff;
        font-size: 30px;
        padding-right: 30px;
    }
    
    .main_menu .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-top: 30px;
        list-style: none;
        background: rgba(0, 0, 0,.8);
        text-align: center;
    }
    /* --------navbar responsive end--------- */
    
    /* --------banner-part responsive start--------- */
    
    #banner_part .overlay .text-area .text1 {
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Montserrat Alternates', sans-serif;
        margin-bottom: 4rem;
    }
    
    #banner_part .overlay .text-area h1 {
        font-family: 'Yeseva One', cursive;
        font-weight: 400;
        font-size: 7.2rem;
        color: #fff;
    }
    
    #banner_part .overlay .text-area h4 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 3rem;
        font-weight: 100;
        color: #fff;
        padding-top: 30px;
        position: relative;
    }
    
    #banner_part .overlay .text-area h4::before {
        right: 26%;
    }
    
    #banner_part .overlay .text-area h4::after {
        left: 26%;
    }
    
    #banner_part .prev {
        position: absolute;
        bottom: 100px;
        left: 29%;
        width: 75px;
        height: 75px;;
        line-height: 75px;;
    }
    #banner_part .next {
        position: absolute;
        bottom: 100px;
        left: 58%;
        width: 75px;
        height: 75px;;
        line-height: 75px;;
    }
    

    #gallery #gallery_part .gallery-item {
        position: relative;
        width: 50%;
        padding: 16px 15px;
    }

    /* --------banner-part responsive end--------- */
    
    /* --------story-part responsive start--------- */
    #story_part .img-part img {
        width: 87%;
        margin-left: 20px;
    }
    
    #story_part .story-smoke {
        position: absolute;
        top: -21%;
        left: -55px;
    }
    
    #story_part .img-part .img-overlay .icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
        position: relative;
    }
    
    #story_part .img-part .img-overlay {
        left: 16px;
    }
    
    #story_part .text-part h1 {
        font-size: 40px;
    }
    
    #story_part .text-part p {
        font-size: 1.6rem;
    }
    
    #story #story_part .story-venobox .img-part .img-overlay {
        position: absolute;
        top: -8px;
        left: 4px;
    }


#story #counter-up {
	background: url(../images/counterUp-bg.png)no-repeat center;
	background-size: cover;
	margin-top: -30px;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap ;
}


#story #counter-up p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: #fff;
}

    /* --------story-part responsive end--------- */
    
    
    /* --------happy hour-part responsive start--------- */
    
    #happy_hour .counter-part {
        width: 100%;
        margin-left: auto;
        margin-top: 30px;
        /* margin-right: 35px; */
        text-align: center;
        position: relative;
    }

    
    #happy_hour .counter-part .counter-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 15px;
    }
    
    
    #happy_hour .counter-part .single-counter{
        background: url(../images/counter-bg.png)no-repeat center;
        background-size: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 1rem;
        border: 1px solid #000;
        text-align: center;
        line-height: 120px;
    }
    
    #happy_hour .counter-part .single-counter  h3{
        font-size: 2rem;
        margin-top: -10px;
    }
    
    #happy_hour .counter-part .single-counter p{
        font-size: 35px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    
    #happy_hour .counter-part .text {
        text-align: center;
        padding-top: 55px;
    }

    #happy_hour .counter-part .text h3 {
        margin-top: -30px;
        margin-left: -43px;
        padding-top: -20px;
    }
    
    #happy_hour .date-part {
        margin-left: 100px;
        margin-top: 80px;
    }
    
    #happy_hour .date-part .date-item {
        margin-left: -87px;
    }
    
    #happy_hour .holiday-bg img {
        width: 187%;
    }

    #happy_hour .holiday-bg img {
        width: 224%;
    }
    
    #happy_hour .holiday-bg {
        position: absolute;
        bottom: 12px;
        right: 616px;
        opacity: .2;
        z-index: -12;
    }
    
    
    /* --------happy hour-part responsive end--------- */
    
    /* --------team-part responsive start--------- */
    
    .team{
        margin-bottom: 30px;
    }
    
    /* #team_part .team-none{
        display: none;
    } */
    
    #team_part .team-item .img{
        margin-left: 20px;
    }
    
    #team_part .slick-dots {
        left: 44%;
    }
    
    /* --------team-part responsive end--------- */
    
    
    /* --------reservtion-part responsive start--------- */
    
    
    #reservation_part .img img{
        width: 100%;
    }
    
    #reservation_part .input-button {
        width: 100%;
    }
    
    #reservation_part .form-part h3 {
        padding-top: 30px;
    }
    
    /* --------reservtion-part responsive end--------- */
    
    /* --------testimonial-part responsive start--------- */
    
    #testimonial_part .title h1 {
        font-size: 3rem;
    }
    
    #testimonial_part .title::before {
        top: 108px;;
    }
    
    #testimonial_part .title::after {
        top: 108px;;
    }

    #testimonial_part .right {
        right: 34%;
    }
    
    #testimonial_part .testi-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right:40px;
    }

    #testimonial_part .testi-item .img{
        margin-right: 228px;
    }

    #testimonial_part .testi-item .img img{
        width: 100%;
    }

    #testimonial_part .testi-item .text {
        margin-left: -20px !important;
        padding-top: 20px;
        width: 75%;
    }

    /* #testimonial_part .testi-item .text p {
        width: 283px;
    } */
    
    /* --------testimonial-part responsive end--------- */
    
    /* --------footer-part responsive start--------- */
    
    #footer_part .footer-item{
        margin-bottom: 40px;
    }
    
    #footer_part .footer-item h3::after {
        left: 42%;
    }
    
    #footer_part .footer-icon i {
        width: 55px;
        height: 55px;
        color: #ed5034;
        font-size: 20px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        background: #fff;
        margin: 0 7px;
    }
    
    #footer_part .footer-bottom p {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
    }
    /* --------footer-part responsive end--------- */




    /* --------contact-page- responsive start--------- */


    .main_menu ul li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: red;
        color: #fff;
        display: none;
    }

    .main_menu ul .active {
        background: #fff;
        color: red;
    }


    .main_menu ul .active::after {
        width: 0%;
        background: none;
        display: none;
    }

    #contact-page .banner-four {
        background: url(../images/banner4.png) no-repeat center !important;
        background-size: cover !important;
    }

   #contact-page  #banner_part .overlay .text-area h1 {
        font-family: 'Yeseva One', cursive;
        font-weight: 400;
        font-size: 44px !important;
        color: #fff;
    }

    #contact-page #banner_part .overlay .text-area p {
        font-size: 18px !important;
    }

    #contact-page .counter-up {
        width: 230px;
        flex-wrap: wrap;  
    }

    #contact-page .counter-up .counter-items{
        margin-top: 50px;
    }


    /* --------contact-page- responsive end--------- */






    
        /* the end */
    }
@media (min-width: 768px) and (max-width: 991px){

    /* --------navbar responsive start--------- */
    
    /* title part start */
    
    .title::before {
        left: 51%;
    }

    .title::after {
        left: 42.6%;
    }
    
    /* title part end */
    
    .main_menu{
        padding: 30px 0;
    }
    
    .main_menu img{
        width: 140px;
    }

    .main_menu ul li a {
        width: 100%;
    }

    
    .main_menu .navbar-toggler-icon i{
        color: #fff;
        font-size: 30px;
        padding-right: 30px;
    }
    
    .main_menu .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-top: 30px;
        list-style: none;
        background: rgba(0, 0, 0,.8);
        text-align: center;
    }
    /* --------navbar responsive end--------- */
    
    /* --------banner-part responsive start--------- */
    
    #banner_part .overlay .text-area .text1 {
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Montserrat Alternates', sans-serif;
        margin-bottom: 4rem;
    }
    
    #banner_part .overlay .text-area h1 {
        font-family: 'Yeseva One', cursive;
        font-weight: 400;
        font-size: 7.2rem;
        color: #fff;
    }
    
    #banner_part .overlay .text-area h4 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 3rem;
        font-weight: 100;
        color: #fff;
        padding-top: 30px;
        position: relative;
    }
    
    #banner_part .overlay .text-area h4::before {
        right: 32%;
    }
    
    #banner_part .overlay .text-area h4::after {
        left: 32%;
    }
    
    #banner_part .prev {
        position: absolute;
        bottom: 100px;
        left: 36%;
        width: 75px;
        height: 75px;
        line-height: 75px;
    }

    #banner_part .next {
        position: absolute;
        bottom: 100px;
        left: 50%;
        width: 75px;
        height: 75px;
        line-height: 75px;
    }
    

    #gallery #gallery_part .gallery-item {
        position: relative;
        width: 50%;
        padding: 16px 15px;
    }

    /* --------banner-part responsive end--------- */
    
    /* --------story-part responsive start--------- */
    #story_part .img-part img {
        width: 87%;
        margin-left: 20px;
    }
    
    #story_part .story-smoke {
        position: absolute;
        top: -21%;
        left: -55px;
    }
    
    #story_part .img-part .img-overlay .icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
        position: relative;
    }
    
    #story_part .img-part .img-overlay {
        left: 16px;
    }
    
    #story_part .text-part h1 {
        font-size: 40px;
    }
    
    #story_part .text-part p {
        font-size: 1.6rem;
    }
    
    #story #story_part .story-venobox .img-part .img-overlay {
        position: absolute;
        top: 0px;
        left: 18px;
        width: 88%;
        height: 88%;
    }


    #story #counter-up .value {
        font-family: 'Yeseva One', cursive;
        font-weight: 400;
        font-size: 26px;
        color: #fff;
        display: inline-block;
    }

    #story #counter-up .rate {
        font-family: 'Yeseva One', cursive;
        font-weight: 400;
        font-size: 26px;
        color: #fff;
        display: inline-block;
    }

    #story #counter-up p {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 100;
        font-size: 15px;
        color: #fff;
    }

    /* --------story-part responsive end--------- */
    
    
    /* --------happy hour-part responsive start--------- */


     #happy_hour .date-part {
        margin-left: 100px;
        margin-top: 86px;
    }

    #happy_hour .holiday-bg {
        position: absolute;
        bottom: 35px;
        right: 59%;
        opacity: .2;
        z-index: -12;
    }

    #happy_hour .holiday-bg img {
        width: 184%;
    }
    
    /* --------happy hour-part responsive end--------- */
    
    /* --------team-part responsive start--------- */
    
    .team{
        margin-bottom: 30px;
    }
    
    /* #team_part .team-none{
        display: none;
    } */
    
    #team_part .team-item .img{
        margin-left: 20px;
    }
    
    #team_part .slick-dots {
        left: 44%;
    }
    
    /* --------team-part responsive end--------- */
    
    
    /* --------reservtion-part responsive start--------- */
    
    
    #reservation_part .img {
        margin-top: 54px;
    }

    #reservation_part .img img {
        width: 100%;
        height: 734px;
    }
    
    #reservation_part .input-button {
        width: 100%;
    }
    
    #reservation_part .form-part h3 {
        padding-top: 30px;
    }
    
    /* --------reservtion-part responsive end--------- */
    
    /* --------testimonial-part responsive start--------- */
    
    #testimonial_part .title h1 {
        font-size: 3rem;
    }
    
    #testimonial_part .title::before {
        top: 108px;;
    }
    
    #testimonial_part .title::after {
        top: 108px;;
    }

    #testimonial_part .right {
        right: 11%;
    }
    
    #testimonial_part .testi-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:40px;
    }
/* 
    #testimonial_part .testi-item .img{
        margin-right: 228px;
    } */

    /* #testimonial_part .testi-item .img img{
        width: 100%;
    } */

    #testimonial_part .testi-item .text {
        margin-left: -20px !important;
        padding-top: 20px;
        width: 75%;
    }

    /* #testimonial_part .testi-item .text p {
        width: 283px;
    } */
    
    /* --------testimonial-part responsive end--------- */
    
    /* --------footer-part responsive start--------- */
    
    #footer_part .footer-item{
        margin-bottom: 40px;
    }
    
    #footer_part .footer-item h3::after {
        left: 42%;
    }
    
    #footer_part .footer-icon i {
        width: 55px;
        height: 55px;
        color: #ed5034;
        font-size: 20px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        background: #fff;
        margin: 0 7px;
    }
    
    #footer_part .footer-item p {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }

    #footer_part .footer-item a {
        display: inline-block;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
    }

    /* --------footer-part responsive end--------- */
    
        /* the end */
    }
    @media (min-width: 992px) and (max-width: 1200px){

        /* --------footer responsive start--------- */
    

 

        #gallery #gallery_part .gallery-item {
            position: relative;
            width: 33%;
            padding: 16px 15px;
        }


        #gallery #gallery_part .minimized{
            display: none;
        }

        #footer_part .footer-item .number {
            display: inline-block;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
    
        #footer_part .footer-item a {
            display: inline-block;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
    
        /* --------footer-part responsive end--------- */
        
            /* the end */
        }


/* responsive end */