
/* ------------common css start----------- */

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* ------------common css end----------- */


/* ------------title-part common css start------------- */
.title{
    text-align: center;
    padding-top: 6rem;
    position: relative;
}

.title:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    top: 120px;
    left: 45.6%;
    background: #ed5034;
}

.title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    top: 120px;
    left: 50%;
    background: #ed5034;
}

.title h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    position: relative;

}

.title h1:after {
    position: absolute;
    content: "";
    bottom: -14px;
    left: 49%;
    width: 10px;
    height: 2px;
    background: #ed5034;
}

/* ------------title-part common css end------------- */




/* ------------nav-part css start----------- */

.main_menu{
    position: fixed !important;
    width: 100%;
    top: -5px;
    left: 0;
    z-index: 99999;
}

.nav_part{
    background: #000 !important;
    box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
}


.main_menu ul li{
    display: inline-block !important;
    margin-left: 2.4rem;
    position: relative;
}

.main_menu ul li a{
    padding-top: 40px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 30px !important;
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
    transition: all linear cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
}

.main_menu ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: red;
    color: #fff;

}

.main_menu ul li a:hover{
    background: #fff;
    color: red;
}

.main_menu ul li .active{
    background: #fff;
    color: red !important;
}


.main_menu ul li .active:after{
    width: 100% !important;
}

.main_menu ul li a:hover:after{
    width: 100%;
}

.main_menu ul li .active:after{
    width: 100%;
}


/* ------------nav-part css end----------- */



/* ------------banner-part css start----------- */

#story #banner_part .overlay{
    padding-bottom: 130px;
}

#gallery #banner_part .overlay{
    padding-bottom: 130px;
}

#banner_part {
    position: relative;
}

#banner_part .banner {
    background: url(../images/banner-img.png)no-repeat center;
    background-size: cover;
}

#banner_part .banner-two{
    background: url(../images/bannertwo.png)no-repeat center;
    background-size: cover;
}

#banner_part .banner-three{
    background: url(../images/bannerthree.png)no-repeat center;
    background-size: cover;
}

#banner_part .banner-shape{
    background: url(../images/banner-smoke.png)no-repeat center;
    background-size: cover;
}

#banner_part .overlay{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0,.6) ;
    padding: 200px 0 238px 0;
    z-index: 999;
}

#banner_part .overlay .text-area{
    text-align: center;
}

#banner_part .overlay .text-area .text1{
    color: #fff;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 2rem;
}

#banner_part .overlay .text-area h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 7.2rem;
    color: #fff;
}

#banner_part .overlay .text-area p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 16px;color: #fff;
}

#banner_part .overlay .text-area h4{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.8rem;
    font-weight: 100;
    color: #fff;
    padding-top: 30px;
    position: relative;
}

#banner_part .overlay .text-area h4:after {
    position: absolute;
    top: 78%;
    left: 39%;
    width: 50px;
    height: 2px;
    background: #ed5034;
    content: '';
}

#banner_part .overlay .text-area h4:before {
    position: absolute;
    top: 78%;
    right: 39%;
    width: 50px;
    height: 2px;
    background: #ed5034;
    content: '';
}

#banner_part .prev{
    position: absolute;
    bottom: 100px;
    left: 44%;
    width: 68px;
    height: 68px;
    background: transparent;
    border: 1px solid #656768;
    border-radius: 50%;
    font-size: 30px;
    color: #656768;
    text-align: center;
    line-height: 68px;
    z-index: 99;
    transition: all ease .4s;
}

#banner_part .prev:hover{
    border: 1px solid #fff;
    background: #fff;
    color:  #ed5034;
}


#banner_part .next{
    position: absolute;
    bottom: 100px;
    right: 44%;
    width: 68px;
    height: 68px;
    background: transparent;
    border: 1px solid #656768;
    border-radius: 50%;
    font-size: 30px;
    color: #656768;
    text-align: center;
    line-height: 68px;
    transition: all ease .4s;
}

#banner_part .next:hover{
    border: 1px solid #fff;
    background: #fff;
    color:  #ed5034;
}



/* ---------------------contact-us part css start------------------------- */

#contact-page .banner-four{
    background: url(../images/banner4.png) no-repeat center !important;
    background-size: cover;
}

#contact-page .banner-four h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 32px !important;
    color: #fff;
}

#contact-page .banner-four .we{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 16px !important;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
}

#contact-page .banner-four .we::after {
	content: "";
	position: absolute;
	bottom: 50px;
	left: 48%;
	width: 54px;
	height: 2px;
	background: #fff;
}

#contact-page .banner-four .button a{
    display: inline-block;
    padding: 16px 24px;
    border-radius: 30px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    background: url(../images/button-bg.png)no-repeat center;
    background-size: cover;
}
 
#contact-page #banner_part .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,.6);
	padding-top: 160px;
	padding-bottom: 180px;
	z-index: 999;
}

#contact-page #banner_part .overlay .text-area {
	padding-top: 0;
}


#contact-page .counter-up{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

#contact-page .counter-up .counter-items p{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;font-size: 60px;
    color: #fff;
}

#contact-page .counter-up .counter-items .under-text{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 26px;
    color: #fff;
    text-transform: capitalize;
}

/* ---------------------contact-us part css end------------------------- */


/* ------------banner-part css end------------ */



/* ------------galler-part gallery css start------------ */

#gallery #gallery_part {
    background: url(../images/gallery-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 0px;
}

#gallery #gallery_part .gallery-element{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#gallery #gallery_part .gallery-item{
    position: relative;
    width: 20%;
    padding: 16px 15px;
}

#gallery #gallery_part .gallery-item img{
    width: 100%;
    overflow: hidden;
    display: block;
}

#gallery #gallery_part .gallery-item .gallery-overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease .4s;
    z-index: 12;
}

#gallery #gallery_part .gallery-item:hover .gallery-overlay{
    opacity: 1;
}

#gallery #gallery_part .gallery-item .gallery-overlay i{
    color: #fff;
    font-size: 40px;

}

#gallery #gallery_part .gallery-item .img-overlay{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    opacity: 1;
    transition: all ease .4s;
}

#gallery #gallery_part .gallery-item:hover .img-overlay{
    opacity: 0;
}

/* ------------galler-part gallery css end------------ */


/* ------------our story-part css start------------ */

#story_part{
    position: relative;
    background: url(../images/story-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;
}

#story_part .story-smoke {
	position: absolute;
	top: -40%;
	left: -20px;
}

#story_part .img-part{
    position: relative;
}

#story_part .img-part img{
    width: 100%;
    z-index: 22;
}

#story_part .img-part .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#story_part .img-part .img-overlay .icon{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    position:relative;
}

#story_part .img-part .img-overlay .icon i{
    font-size: 18px;
    color: #ed5034;
}

#story_part .img-part .img-overlay .icon:after{
    pointer-events: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #fff;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(1.3);
}

#story_part .img-part .img-overlay .pulsing:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #fff;
    transition: transform 0.2s, opacity 0.2s;
    animation: pulsing 2.6s infinite;
}

@keyframes pulsing{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }

}

#story_part .text-part h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    position: relative;
}

#story_part .text-part h1:after{
    position: absolute;
    content: "";
    bottom: 40px;
    left: 0;
    width: 10rem;
    height: 2px;
    background: #ed5034;
}

#story_part .text-part h1:before{
    position: absolute;
    content: "";
    bottom: 40px;
    left: 110px;
    width: 1rem;
    height: 2px;
    background: #ed5034;
}

#story_part .text-part p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
    padding-bottom: 4rem;
}

#story_part .text-part .button{
    padding-top: 5rem;
}

#story_part .text-part .button a{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #ed5034;
    padding: 20px 30px;
    border-radius: 30px;
    background: url(../images/button-bg.png)no-repeat center;
    background-size: cover;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,.75);
}

#story #story_part .story-venobox{
    display: flex;
    margin-top: -20px;
}

#story #story_part .story-venobox .img-part{
    width: 150px !important;
    height: 150px;
    margin-right: 20px;
    position: relative;
}

#story .story-venobox .img-part{
    width: 150px ;
}

#story #story_part .story-venobox .img-part .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease .4s;
}

#story #story_part .story-venobox .img-part:hover .img-overlay{
    opacity: 1;
}

#story #story_part .story-venobox .img-part .img-overlay .icon{
    width: 55px !important;
    height: 55px !important;
    line-height: 60px !important;
}

#story #story_part .story-venobox .img .img-overlay .icon:after{
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(1.4);
    transition: transform 2.5s opacity .2s;
    box-shadow: inset 0px 0px 0px 1px #aeaeaf;
}


#story #story_part .story-venobox .img .img-overlay .icon i{
    font-size: 16px;
    color: #ed5034;
}

/* ------------our story-part css end------------ */


/* ------------counter-part css start------------ */

 #counter-up{
    background: url(../images/counterUp-bg.png)no-repeat center;
    background-size: cover;
    margin-top: 60px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#counter-up .counter-item{
    display: inline-block;
}

#counter-up .value{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    display: inline-block;
}

#counter-up .rate{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    display: inline-block;
}

#counter-up p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #fff;
}

/* ------------counter-part css end------------ */




/* ------------happy hor-part css start------------ */

#happy_hour{
    background: url(../images/happy-bg.png) no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

#happy_hour .counter-part{
    width: 350px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: 35px;
    text-align: center;  
    position: relative;
}

#happy_hour .counter-part:after {
    content: "";
    position: absolute;
    top: 44px;
    right: -70px;
    width: 1px;
    height: 290px;
    background: rgb(36, 35, 35);
}

#happy_hour .counter-part .text {
	text-align: center;
	padding-top: 15px;
}

#happy_hour .counter-part .text-bottom{
    margin: 30px 0 0 30px;
}

#happy_hour .counter-part .text-bottom h3{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

#happy_hour .counter-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#happy_hour .counter-part .counter-items{
    background: url(../images/counter-bg.png)no-repeat center;
    background-size: cover;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    margin-top: 3rem;
    border: 1px solid #000;
    text-align: center;
}

#happy_hour .counter-part .single-counter {
    text-align: center;
    display: block !important;
}

#happy_hour .counter-part  p{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 6rem;
    color: #fff;
    margin-bottom: -20px;
}

#happy_hour .counter-part  .p-text{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}





#happy_hour .date-part{
    margin-left: 100px;
    margin-top: 40px;

}

#happy_hour .date-part .date-item{
    margin-bottom: 6rem;
    position: relative;
}

#happy_hour .date-part .date-item:after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 54px;
    height: 2px;
    background: #ed5034;
}

#happy_hour .date-part .date-item:before {
    content: "";
    position: absolute;
    top: 100px;
    left: 60px;
    width: 8px;
    height: 2px;
    background: #ed5034;
}

#happy_hour .date-part .date-item:last-child:before{
    display: none;
} 
#happy_hour .date-part .date-item:last-child:after{
    display: none;
} 

#happy_hour .date-part .date-item h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
    padding-bottom: 5px;
}

#happy_hour .date-part .date-item p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
}

#happy_hour .holiday-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .2;
    z-index: -12;
}

#happy_hour .holiday-bg2 {
	position: absolute;
	bottom: -120px;
	right: 0;
	opacity: .2;
	z-index: -12;
}

#happy_hour .holiday-bg img{
    width: 100%;
    
}

/* ------------happy hour-part css end------------ */


/* ------------our team-part css start------------ */

#team_part{
    background: url(../images/team-bg.png)no-repeat center;
    background-size: cover;
    padding-bottom: 60px;
    position: relative;
}

#team_part .team-item{
    text-align: center;
    margin-top: 100px;
    position: relative;
}

#team_part .team-item .img img{
    width: 100%;
}

#team_part .team-item .img {
	margin-left: 20px;
	margin-right: 20px;
}

#team_part .team-item .desination h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
    color: #fff;
    padding-top: 10px;
}

#team_part .team-item .desination p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    color: #fff;
}

#team_part .team-item .item-overlay {
    position: absolute;
    top: -71%;
    left: -6%;
    z-index: -1;
    opacity: 0;
    transition: all ease .4s;
}

#team_part .team-item:hover .item-overlay{
    opacity: 1;
} 

#team_part .slick-dots{
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

#team_part .slick-dots li{
    display: inline-block;
    margin-left: 10px;
}

#team_part .slick-dots li button{
    font-size: 0;
    border: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
}

#team_part .slick-active button{
    background: #ed5034 !important;
    transform: scale(1.2);
}


/* ------------our team-part css end------------ */



/* ------------gallery-part css start------------ */

#galler_part{
    background: url(../images/gallery-bg.png)no-repeat center;
    background-size: cover;
    padding-bottom: 60px;
}

#galler_part .gallery-item{
    margin-top: 90px !important;
    margin: 0 10px;
    position: relative;
}

#galler_part .gallery-item img{
    width: 100%;
}

#galler_part .gallery-item .overlay{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition: all ease .2s;
}

#galler_part .gallery-item:hover .overlay{
    opacity: 1;
}

#galler_part .gallery-item .overlay i{
    font-size: 4rem;
    color: #fff;
}

#galler_part .gallery-item .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    transition: all ease .2s;
}

#galler_part .gallery-item:hover .img-overlay{
    opacity: 0;
}

#galler_part .button{
    margin-top: 6rem;
    text-align: center;
}

#galler_part .button a{
    display: inline-block ;
    padding: 20px 45px;
    border-radius: 35px;
    background: url(../images/button-bg.png) no-repeat center;
    background-size: cover;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #ed5034;

}

/* ------------gallery-part css end------------ */


/* ------------reservation_part css start------------ */

#reservation_part{
    background: url(../images/reservaiton-bg.png)no-repeat center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 60px;
}

#reservation_part .img{
    position: relative;
}


#reservation_part .img img {
	width: 100%;
	height: 618px;
}

#reservation_part .img .overlay{
    position: absolute;
    top: 0%;
    left:-10%;
    width: 100%;
    z-index: -1;
}

#reservation_part .input-button{
    width: 49%;
    background: transparent;
    border: 1px solid #2e3132;
    margin-bottom: 20px;
    height: 50px;
    padding: 20px 0 20px 30px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff !important;
    text-transform: capitalize;
    z-index: 1;
}

#reservation_part .form-part h3{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding-bottom: 40px;
    position: relative;
}

#reservation_part .form-part h3:after{
    content: "";
    position: absolute;
    width: 160px;
    height: 2px;
    bottom: 36px;
    left: 0;
    background: #ed5034;
}

#reservation_part .form-part h3:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 2px;
    bottom: 36px;
    left: 168px;
    background: #ed5034;
}


#reservation_part form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 50px; */
}

#reservation_part form select{
    width: 32%;
    margin-top: 20px;
    background: transparent;
    padding:18px 20px;
    border: 1px solid #2e3132;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

#reservation_part form textarea{
    width: 100%;
    height: 200px;
    resize: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 20px ;
    padding-left: 30px ;
    background: transparent;
    font-family: 'Arimo', sans-serif;
    border: 1px solid #2e3132;
}

#reservation_part textarea::placeholder{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
}

#reservation_part button{
    background: url(../images/button-bg.png)no-repeat center;
    background-size: cover;
    border: 1px solid #2e3132;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
}

/* ------------reservation_part css end------------ */


/* ------------testimonial css start------------ */

#testimonial_part{
    background: #050505;
    padding-top: 40px;
    padding-bottom: 100px;
}

#testimonial_part .testi-slider{
    width: 790px;
    margin: 0 auto;
    margin-top: 70px;
}

#testimonial_part .testi-item{
    display: flex;
    background: #0a0b0c;
}

#testimonial_part .testi-item .text{
    margin-left: 30px;
    padding: 0 30px ;
    padding-top: 20px;
}

#testimonial_part .testi-item .text p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
}

#testimonial_part .testi-item .text h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
    margin-top: 3.4rem;
}

#testimonial_part .testi-item .text span{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
}

#testimonial_part .testi-item .rating {
    padding-top: 10px;
    padding-bottom: 30px;
}

#testimonial_part .testi-item .rating  i{
    color: #ed5034;
    font-size: 2rem;
}

#testimonial_part .left{
    width: 50px;
    height: 50px;
    color: #ed5034;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all ease .4s;
}

#testimonial_part .left:hover{
    color: #fff;
    background: #ed5034;
}

#testimonial_part .right{
    width: 50px;
    height: 50px;
    color: #ed5034;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%,-50%);
    transition: all ease .4s;
}

#testimonial_part .right:hover{
    color: #fff;
    background: #ed5034;
}


/* ------------testimonial css end------------ */


/* ------------footer-part css start------------ */

#footer_part{
    background: url(../images/footer-bg.png)no-repeat center;
    background-size: cover;
    padding-top: 100px;
    margin-bottom: 0;
}

#footer_part .footer-item{
    text-align: center;
}

#footer_part .footer-item h3{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    padding-bottom: 4rem;
    position: relative;
}

#footer_part .footer-item h3:after {
    content: "";
    position: absolute;
    bottom: 31px;
    left: 39%;
    width: 70px;
    height: 2px;
    background: #ed5034;
}

#footer_part .footer-item span{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}

#footer_part .footer-item p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}

#footer_part .footer-item .number{
    padding: 10px 0;
}

#footer_part .footer-item a{
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}

#footer_part .footer-icon{
    text-align: center;
    margin-top: 60px;
    position: relative;
}

#footer_part .footer-icon:after {
    content: "";
    position: absolute;
    top: 36px;
    left: -2%;
    width: 361px;
    height: 1px;
    background: #222222;
}

#footer_part .footer-icon:before {
    content: "";
    position: absolute;
    top: 36px;
    right: -2%;
    width: 361px;
    height: 1px;
    background: #222222;
}


#footer_part .footer-icon i{
    width: 70px;
    height: 70px;
    color: #ed5034;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    margin: 0 20px;
    transition: all ease .4s;
}

#footer_part .footer-icon i:hover{
    color: #fff;
    background: #ed5034;
}

#footer_part .footer-bottom{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer_part .footer-bottom p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;

}
/* ------------footer-part css end------------ */

/* ------------fbacktotopcss start------------ */

.backtotop a{
    padding: 20px;
    background: #fff;
    font-size: 20px;
    color: #000;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

/* ------------fbacktotopcss end------------ */

